---
import BlogPostForm from "../../components/BlogPostForm.astro";
import Nav from "../../components/utils/Nav.astro";
import ZonesPostForm from "../../components/ZonesPostForm.astro";
import "/src/styles/global.css"; // Importar estilos globales

// 1. Preparamos la config en la PÁGINA
const firebaseConfig = {
    apiKey: import.meta.env.PUBLIC_FIREBASE_API_KEY,
    authDomain: import.meta.env.PUBLIC_FIREBASE_AUTH_DOMAIN,
    projectId: import.meta.env.PUBLIC_FIREBASE_PROJECT_ID,
    appId: import.meta.env.PUBLIC_FIREBASE_APP_ID,
};
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Crear Nuevo Post</title>
        <style>
            /* Estilos básicos para la página, o importar CSS global */
            body {
                font-family: sans-serif;
            }
            section {
                margin-top: 10vh;
            }
        </style>
    </head>
    <body>
        <Nav currentPage="zones" />
        <section>
            <ZonesPostForm firebaseConfig={firebaseConfig} />
        </section>
    </body>
</html>
