---
import BlogPostForm from "../../components/BlogPostForm.astro";
import Nav from "../../components/utils/Nav.astro";
import '/src/styles/global.css'; // Importar estilos globales
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdn.tiny.cloud/1/o3gjn8fjt8khcy7ni9081i6snzy3z0yt7yudepvcfvs8rtrj/tinymce/8/tinymce.min.js"
            referrerpolicy="origin"
            crossorigin="anonymous"></script>
        <title>Crear Nuevo Post</title>
        <style>
            /* Estilos básicos para la página, o importar CSS global */
            body {
                font-family: sans-serif;
                padding: 20px;
            }
            section {
                margin-top: 10vh;
            }
        </style>
    </head>
    <body>
        <Nav currentPage="posts" />
        <section>
            <BlogPostForm />
        </section>
    </body>
</html>
